/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 1, 2025, 12:58:01 PM
    Author     : LEGION
*/
.right-body{
    border: solid 1px #7889ce;
    border-radius: 3px;
    margin: 0 auto;
}
.title{
    display: flex;
    align-items: center;
}

.title p,
.duration p{
    margin: 0px;
    display: flex;
    justify-content: start;
    align-items: center;
}

.title input,
.duration input{
    padding: 10px 5px;
}
.lesson-title{
    font-weight: bolder;
    width: 100%;
    font-size: large;
    height: 40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.second-row{

    margin: 20px auto;
}
.first-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-row button{
    width: 70px;
    border: solid 2px #7889ce;
    border-radius: 3px;
    background-color: white;

}

