/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 21, 2025, 10:20:37 AM
    Author     : DELL
*/
body, html{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.login-form {
    width: 100%;
    padding: 2% !important;
}
.login-form h1{
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
}
.login-form img{
    width: 100%;
    height: 500px;
}

.login-form form{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
}
.login-form input{
    display: flex;
    width: 70%;
    padding: 10px 7px;
    margin: 10px auto;
    border-radius: 7px;
    border: 1px solid #ccc;
}
#signinBtn{
    border: none;
    background-color: #1A2A6C;
    color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}
#signinBtn:hover{
    background-color: #1a3aa6;
}