/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : May 24, 2025, 2:46:51 PM
    Author     : LEGION
*/

body, html{
    font-family: sans-serif ;
       color:#1A2A6C !important;
}
.container{
    border: 2px solid #1A2A6C;
}
.title{
    width: 800px;
    height:70px;
    font-size: xx-large;
}
.title-div ,
.requirement-input{
    padding: 10px;
    display: flex;
    color:#1A2A6C;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

/*.requirement{
    justify-content: space-between;
}*/

.title-div{

    margin-bottom: 20px;
}

.requirement{
    /*    color:white;
        display: flex;
        background-color: #1A2A6C;*/
}
.requirement-header{
    display: flex;
    justify-content: space-between;
}
#requirementList,
#courseForList,
#outcomeList{
/*    width: 70%;*/
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#requirementList input,
#courseForList input,
#outcomeList input{
    padding: 15px;
}
.newBtn{
    height: 40px;
    width: 150px;
    border: 2px solid #1A2A6C;
    border-radius: 4px;
    color:#1A2A6C;
}
.newBtn:hover{
    color: white;
    background-color: #1A2A6C;
}